@(persons: List[Person])
@main("Persons list") {
<h2>All persons</h2>
<a class="btn btn-primary" href="@routes.Persons.newPerson()">New person</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>e-mail</th>
    </tr>
    </thead>
    <tbody>
    @for(person <- persons) {
    <tr>
        <td><a href="@routes.Persons.details(person.id)">
            @person.id</a></td>
        <td><a href="@routes.Persons.details(person.id)">
            @person.lastName, @person.firstName</a></td>
        <td><a href="@routes.Persons.details(person.id)">
            @person.email</a></td>
    </tr>
    }
    </tbody>
</table>
}